.git/**
.gitignore
.github/**
.save/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
scripts/**
extension/**
resources/**
out/test/**
out/**/*.map
*.vsix
eslint.config.mjs
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
