.git/**
.gitignore
.github/**
.save/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
node_modules/**
src/**
out/test/**
out/**/*.map
*.vsix
eslint.config.mjs
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
